/*
 * Colors used
 */
:root {
  --primary-color: #20457C;
  --background-color: #ECDFBD;
  --text-color: #3B3A35;
  --secondary-color: #FB6648;
  --tertiary-color: #5E3448;
  --text-font: 'Montserrat';
  --heading-font: 'Crimson Text';
}
